<div class="compare">
  <div class="compare__title hidden-xs">
      <div>Price</div>
      <div>Mark</div>
      <div>Model</div>
      <div>Color</div>
      <div>Transmission</div>
      <div>Type</div>
      <div>Year</div>
  </div>
  <div class="compare__list" *ngFor="let item of carList">
    <div><img [src]="item.photo" alt="" class="compare__list__photo"></div>
    <div><b>{{item.price | currency}}</b></div>
    <div>{{item.mark}}</div>
    <div>{{item.model}}</div>
    <div>{{item.color}}</div>
    <div>{{item.transmision}}</div>
    <div>{{item.type}}</div>
    <div>{{item.year}}</div>
  </div>

</div>
<a [routerLink]="['/']" class="btn btn-primary btn-lg" role="button">Back</a>

