.detail {

    &__image {
        display: flex;
        justify-content: center;

        img {
            width:100%;
            height: 50%;
        }
    }

    &__brand {
        background-color:#337ab7;
        color: white;
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
    }
}