.compare {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    & > * {
        display: flex;
    }

    &__list {
        position: relative;
        flex-wrap: wrap;

        &__photo {
            width: 10rem;
            height: 6rem;
            margin: 0 1rem;
        }

        .badge-error {  
            background-color: #b94a48;
            cursor: pointer;
            position: absolute;
            top: -5px;
        }

        .btn {
            display: flex;
            align-items: center;
        }
    }
}